@import "../../../stylesConfig/stylesConfig.scss";
$background-color: #5b5a5a;
$background-image: url("../../../assets/background2.jpg");
$gradient-start: rgba(45, 36, 34, 0.2);
$gradient-end: rgba(77, 67, 59, 0.2);

main {
  display: inline;
  position: relative;
  height: 100%;

  .homeSection {
    position: relative;

    .top {
      background: linear-gradient(to right, $gradient-start, $gradient-end),
        $background-image;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      min-height: 85vh;
      margin-bottom: $margin-large;
      border-radius: 1%;
      width: 100%;
      z-index: 0;
      background-color: #d7d7d7;
    }
    .arrowButton {
      position: absolute;
      bottom: 2rem;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      background-color: rgba(29, 87, 122, 0.3);
      border-radius: 50%;

      button {
        background-color: transparent;
        border: none;
      }

      &:hover {
        background-color: rgba(29, 87, 122, 0.5);
        cursor: pointer;
      }
    }
  }
  .home {
    padding: 0 0;

    .aboutSection {
      display: flex;
      justify-content: center;
    }

    .gallerySection {
      text-align: center;
      margin-top: $margin-large;
    }
  }
  .langButton {
    position: relative;
  }
}

@media (max-width: 768px) {
  main {
    .homeSection {
      .top {
        background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            rgba(0, 0, 0, 0)
          ),
          $background-image;

        min-height: 24vh;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #d7d7d7;
        margin-bottom: 0;
        margin: 0;
        padding: 0;
      }

      .arrowButton {
        bottom: 0rem;
        width: 8%;
      }
    }

    .langButton {
      display: none;
      position: absolute;
      bottom: 2rem;
      right: 0%;
      transform: translate(-50%, -50%);
    }
  }
}
