@import "../../../stylesConfig/stylesConfig.scss";

.swiperLarge {
  display: flex;
  justify-content: center;
}

:global {
  .swiper-backface-hidden {
    width: 50%;
    height: auto;

    .swiper-button-prev:hover,
    .swiper-button-next:hover {
      color: rgb(231, 224, 224);
    }
  }
  img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
  }
  .swiper-free-mode {
    width: 40%;
    height: auto;

    .swiper-wrapper {
      width: 100%;
    }

    :global {
      .swiper-slide {
        width: 25% !important;
        opacity: 0.4;
      }
      .swiper-slide-thumb-active {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  :global {
    .swiper-backface-hidden {
      width: 100%;
      height: 20rem;
    }

    .swiper-free-mode {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 425px) {
  :global {
    .swiper-backface-hidden {
      width: 100%;
      height: 15rem;
    }
  }
}
